body{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    background-color:#9DBEBB;
    margin-top: 153px;
    justify-content: center;
    align-items: center;
    
    }
    .form-container{
        display: flex;
        width: 954px;
        height: 594px;
        justify-content: center;
        margin: auto;
        
    }
    .red-container{
        display: flex;
        
        justify-content: center;
        align-items: flex-start;
        padding-left: 20px;
        width: 609px;
        height: 594px;
         color:white;
         font-size: 18px;
        background-color: #BE0909;
    }
    .orange-container{
        width: 345px;
    
        background-color: orange;
        display: flex;
        justify-content: center;
        
     }
     .form-content p{
        position: relative;
        left: -40%;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        
        }
        
        #fname,#email, #regarding, #Message{
      
        
            color: white;
            background-color: transparent;
            border: none;
            border-bottom: solid #468189;
        }
        
        





     .orange-container img{
        width:150%;
        position: relative;
        left: -200px;
        top:140px;
         }
        
         input[type="submit"]{
            width: 200px;
            height: 50px;
            background-color: #468189;
            color: white;
            border-radius:20px ;
            border-style: none;
            padding: 10px;
            position: relative;
            top: 20px;
            left: -20px;
            cursor: pointer;
            
         }
          input[type="submit"]:hover{
            background-color:#FFB039 ;
          }

          
          
        

            
         
    
        
        
    
        


      
        

        
    