body{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    background-color:#9DBEBB;
    margin-top: 153px;
    }
    .form-container{
        display: flex;
        width: 954px;
        height: 594px;
        
    }
    .red-container{
        display: flex;
        
        justify-content: center;
        align-items: flex-start;
        padding-left: 20px;
        width: 609px;
        height: 594px;
         color:white;
         font-size: 18px;
        background-color: #BE0909;
    }
    .orange-container{
        width: 345px;
    
        background-color: orange;
        display: flex;
        justify-content: center;
        
     }
     .form-content p{
        
        padding-top: 30px;
        
        border-bottom:solid  #9DBEBB;
        
     }
     .orange-container img{
        width:90%;
        position: relative;
        left: -120px;
        top:320px;
         }
        
    

    
        


      
        

        
    